.Greetings{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.btn {
  max-width: 100px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  background: #037dd6;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
