.password_create {
    .content {
        &_text {
            .text_h1 {
                margin-bottom: 12px;
            }
        }

        .pin-code {
            input {
                background: none;
                outline: none;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 12px;
                color: white;
                max-width: 48px;
                max-height: 48px;
                box-sizing: border-box;
                font-size: 20px;

                &:focus {
                    background: rgba(255, 255, 255, 0.1);
                    border: 2px solid #0085FF;
                    border-radius: 12px;
                }
            }


        }
    }
}
