.Phrase {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.secret {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.text {
    font-size: 15px;
    text-align: start;
}

.info {
    background: aliceblue;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    padding: 20px 10px;
}
