.Layout{
  width: 100%;

  .container{
    max-width: 657px;
    min-height: 600px;
    margin: 0 auto;
    padding: 40px;
  }
}


// picnic exotic stem toy fiction narrow deposit keep ghost smooth boost chief
