.PasswordCreate {
  display: flex;
  flex-direction: column;
  max-width: 357px;
  min-height: 600px;
  margin: 0 auto;
  padding: 40px;
}

.item {
  padding: 20px 0;
}

.terms {
  padding: 20px 0;
}

