.PasswordCreate {
  display: flex;
  flex-direction: column;
  max-width: 457px;
  min-height: 600px;
  margin: 0 auto;
  padding: 40px;
}

.item {
  padding: 20px 0;
}

.pin-code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
  &-field {
    max-width: 60px;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
  }
}

.terms {
  padding: 20px 0;
}

